@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


:root {
 font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111B3C;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .headerbackgrou */
.outletbg{
    background-color: #121E49;
}
.dashborCardBackgroud{
  background-color: #111B3C;
}
.recentlyAtivityscars{
  background: #1D293D80;
}
.progressCardTExtColr{
 color: #C0CCDD;
}

.progressBackground{
  background: #1D293D;
}
.callHistoryBtn{
  background: #2B7FFF1A;
}
.detailsPhonText{
  color: #90A1B9;
}
.detailsCardBtn{
  color: #C27AFF;
}
.bookingStutsCard{
  background: #0F172B80;
}
.inputBlokingFild{
  color: #00FF8833;
}
.tableBackground{
  background-color: #0e1e3e;
}
.bordrBolr{
  border-bottom: 1px solid #162F61;
}
.popinsfont{
  font-family: Poppins;
}
.profileBorder{
  border-bottom: 1px solid #192D71;
  max-width: 540px;
}
.editBgcolor{
  background: #7AA3CC;
}